{% extends "layout.html" %}
{% block body %}
<div style="margin: 0px">
    <div class="page-container">
        <div class="row">
            <div class="col-md">
                <!-- Top div with sort by and search -->
                <div class="card" style="margin-top: 20px; border-radius: 0">
                        <img
                          src="{{ url_for('static', filename='img/logo_transparent.png' )}}"
                          height="300"
                          width="300"
                          alt="Imkerei Zillmann Logo"
                          loading="lazy"/>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1119.1172283355181!2d11.42693538840682!3d48.154119419921265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479e780b8259be6d%3A0x238a5d49fdf8b61c!2sLeienfelsstra%C3%9Fe%2025%2C%2081243%20M%C3%BCnchen!5e0!3m2!1sen!2sde!4v1689787562504!5m2!1sen!2sde" width="50%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}