{% extends "layout.html" %}
{% block body %}
<div style="margin: 0px">
    <div class="page-container">
        <div class="row">
            <div class="col-md">
                <!-- Top div with sort by and search -->
                <div class="card" style="margin-top: 20px; border-radius: 0">
                        <img
                          src="{{ url_for('static', filename='img/logo_transparent.png' )}}"
                          height="300"
                          width="300"
                          alt="Imkerei Zillmann Logo"
                          loading="lazy"/>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1331.2878782686178!2d11.575268832290611!3d48.13770428809695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e248d37632d%3A0xdead51b35f0e0bb3!2sMarienplatz!5e0!3m2!1sde!2sde!4v1732136754054!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}