{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='mdb5-free-standard/css/calendar.css' )}}">
<script type="text/javascript" src="{{ url_for('static', filename='mdb5-free-standard/js/calendar.js' )}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='mdb5-free-standard/js/cart.js' )}}"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit">
<div style="margin: 0px">
    <div class="page-container">
        <div class="row">
            <div class="col-md">

                <div class="card page-card-container" style="margin-top: 20px; border-radius: 0">
                    <h3>Imkern – von der Bienenhaltung zum Honigverkauf</h3>
                    <br/>
                    <div class="row">
                        <div class="col-lg-5">
                            Faszination Biene: Entdecken Sie die spannende Welt der fleißigen Insekten und erlernen Sie alles, was Sie wissen müssen,
                            um Ihre eigenen Bienenprodukte herzustellen. Dieser Lehrgang vermittelt Ihnen umfassendes Wissen über Bienen und ihre Lebensweise,
                            ihre Bedeutung für die Natur sowie die Grundlagen der Imkerei und Honigherstellung. Die Imkerei ermöglicht Ihnen eine vielseitige
                            Tätigkeit in der Natur. Leisten Sie mit diesem Lehrgang einen wichtigen Beitrag zur ökologischen Gesundheit Ihrer Umgebung.
                            <div style="height: 25px"></div>
                        </div>
                        <div class="col-lg-7">
                            <div class="accordion">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading-1">
                                        <button class="accordion-button" type="button" data-mdb-toggle="collapse"
                                            data-mdb-target="#panelsStayOpen-collapse-1" aria-expanded="true" aria-controls="panelsStayOpen-collapse-1">
                                            LERNSTOFFÜBERSICHT
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapse-1" class="accordion-collapse collapse" aria-labelledby="heading-1">
                                        <div class="accordion-body">
                                            <strong>This is the first item's accordion body.</strong> It is shown by default,
                                            until the collapse plugin adds the appropriate classes that we use to style each
                                            element. These classes control the overall appearance, as well as the showing and
                                            hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                            our default variables. It's also worth noting that just about any HTML can go within
                                            the <code>.accordion-body</code>, though the transition does limit overflow.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading-2">
                                        <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                                            data-mdb-target="#panelsStayOpen-collapse-2" aria-expanded="false"
                                            aria-controls="panelsStayOpen-collapse-2">
                                            VORAUSSETZUNGEN
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapse-2" class="accordion-collapse collapse" aria-labelledby="heading-2">
                                        <div class="accordion-body">
                                            Teilnahme: Sie benötigen keine besonderen Vorkenntnisse. <br/><br/>
                                            Der Zugang zu einem Bienenvolk ist zum Lehrgangsbeginn nicht notwendig, sollte jedoch im Laufe des Lehrgangs erfolgen,
                                            um die erworbenen Kenntnisse praktisch anzuwenden. Teilnehmende, die sich lediglich Wissen zum Imkern aneignen wollen,
                                            sind auf keinen eigenen Bienenstock angewiesen.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading-3">
                                        <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                                            data-mdb-target="#panelsStayOpen-collapse-3" aria-expanded="false"
                                            aria-controls="panelsStayOpen-collapse-3">
                                            MATERIAL- UND LEISTUNGSÜBERSICHT
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapse-3" class="accordion-collapse collapse" aria-labelledby="heading-3">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Studienmappe mit Arbeitsmaterial</li>
                                                <li>9 Studienhefte</li>
                                                <li>5 Online-Tests</li>
                                                <li>4 Einsendeaufgaben</li>
                                                <li>Zugang zum sgd-OnlineCampus</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- This div contains the whole calendar-->
                <div class="card" style="margin-top: 20px; border-radius: 0px; overflow: hidden">
                    <div class="row">
                        <div class="col-md-3 d-md-block d-none">
                            <div class="d-flex justify-content-center" style="border-right: 1px solid #aaa; overflow: hidden; overflow-y: auto; height: 500px">
                                <div id="selected_date_events_left">
                                    <div style="font-size: 13px;margin-top: 20px; padding: 10px; text-align: center">
                                        Klicke auf einen Tag im Kalender, um die stattfindenden Kurse anzuzeigen.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="calendar-base">
                                <div class="year">
                                    <ul>
                                        <li style="display: inline-block" class="previous-year-button" onclick="selectYearAndRefresh(-1)">&#10094;</li>
                                        <li style="display: inline-block" id="selected_year">2023</li>
                                        <li style="display: inline-block" class="next-year-button" onclick="selectYearAndRefresh(1)">&#10095;</li>
                                        <script>
                                            function selectYearAndRefresh(y) {
                                                year = year + y;
                                                document.getElementById("selected_year").innerHTML = year;
                                                generateCalendarDates();
                                            }
                                        </script>
                                    </ul>

                                </div>
                                <div class="row">
                                    <div class="col-sm-6" style="padding-right: 0; padding-left: 15px">
                                        <ul class="months">
                                            <li class="month" id="month_heading_0" onclick="selectMonthAndRefresh(0)">Jan</li>
                                            <li class="month" id="month_heading_1" onclick="selectMonthAndRefresh(1)">Feb</li>
                                            <li class="month" id="month_heading_2" onclick="selectMonthAndRefresh(2)">Mär</li>
                                            <li class="month" id="month_heading_3" onclick="selectMonthAndRefresh(3)">Apr</li>
                                            <li class="month" id="month_heading_4" onclick="selectMonthAndRefresh(4)">Mai</li>
                                            <li class="month" id="month_heading_5" onclick="selectMonthAndRefresh(5)">Jun</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6" style="padding-left: 15px">
                                        <ul class="months">
                                            <li class="month" id="month_heading_6" onclick="selectMonthAndRefresh(6)">Jul</li>
                                            <li class="month" id="month_heading_7" onclick="selectMonthAndRefresh(7)">Aug</li>
                                            <li class="month" id="month_heading_8" onclick="selectMonthAndRefresh(8)">Sep</li>
                                            <li class="month" id="month_heading_9" onclick="selectMonthAndRefresh(9)">Okt</li>
                                            <li class="month" id="month_heading_10" onclick="selectMonthAndRefresh(10)">Nov</li>
                                            <li class="month" id="month_heading_11" onclick="selectMonthAndRefresh(11)">Dez</li>
                                        </ul>
                                    </div>

                                    <script>
                                        function selectMonthAndRefresh(m){
                                            month = m;
                                            generateCalendarDates();

                                            var month_headings = document.querySelectorAll('[id^="month_heading_"]');
                                            for (var month_heading of month_headings) {
                                                document.getElementById(month_heading.id).setAttribute("class", "month");
                                            }
                                            document.getElementById("month_heading_" + m).setAttribute("class", "month-active");
                                        }
                                    </script>
                                </div>
                                <div style="height: 1px; width: 100%; background-color: #aaa"></div>
                                <ul class="weekdays">
                                    <li class="week-day">MO</li>
                                    <li class="week-day">DI</li>
                                    <li class="week-day">MI</li>
                                    <li class="week-day">DO</li>
                                    <li class="week-day">FR</li>
                                    <li class="week-day">SA</li>
                                    <li class="week-day">SO</li>
                                </ul>
                                <ul class="days" id="calendar_days">
                                    <script>
                                        function markDay(day_in_unix_time, inner) {  // marks that there is an event on the day
                                                for (var course in courses_data) {
                                                    course = courses_data[course];
                                                    let course_day_unix_time = new Date(course["date"]).setHours(0,0,0,0);

                                                    if (course_day_unix_time === day_in_unix_time) {
                                                        inner += "<div class='calendar-event'></div>";
                                                    }
                                                }

                                                return inner;
                                        }

                                        function generateCalendarDates(){
                                            document.getElementById("calendar_days").innerHTML = "";
                                            let days = getFullMonthView(month, year);  // these variables are in calendar.js

                                            for (var day of days){
                                                let li = document.createElement("li");

                                                // the current day
                                                day_in_unix_time = day.getTime();
                                                if (day_in_unix_time === new Date().setHours(0,0,0,0)) {
                                                    var inner = "<span class='active' onclick='setEventsOfSelectedDay(" + day_in_unix_time + ")'>";
                                                    inner = markDay(day_in_unix_time, inner);
                                                    inner += String(day.getDate()).padStart(2, "0");
                                                    inner += "</span>";
                                                    li.innerHTML = inner;
                                                // days of the previous or next month
                                                } else if (day.getMonth() != month) {
                                                    var inner = "<span style='color: #ddd' onclick='setEventsOfSelectedDay(" + day_in_unix_time + ")'>";
                                                    inner = markDay(day_in_unix_time, inner);
                                                    inner += String(day.getDate()).padStart(2, "0");
                                                    inner += "</span>";
                                                    li.innerHTML = inner;
                                                } else {
                                                    var inner = "<span onclick='setEventsOfSelectedDay(" + day_in_unix_time + ")'>";
                                                    inner = markDay(day_in_unix_time, inner);
                                                    inner += String(day.getDate()).padStart(2, "0");
                                                    inner += "</span>";
                                                    li.innerHTML = inner;
                                                }


                                                document.getElementById("calendar_days").appendChild(li);
                                            }
                                        }

                                        selectMonthAndRefresh(month);  // passing "global" variable 'month' here
                                    </script>

                                </ul>
                            </div>
                        </div>
                        <div class="d-md-none d-block">
                            <div style="height: 10px"></div>
                            <div style="height: 1px; width: 100%; background-color: #aaa"></div>
                            <div id="selected_date_events_bottom" class="outer" style="overflow-x: auto; white-space: nowrap; padding: 0 20px 20px 20px">
                                <div style="font-size: 13px;margin-top: 20px; padding: 10px; text-align: center">
                                    Klicke auf einen Tag im Kalender, um die stattfindenden Kurse anzuzeigen.
                                </div>
                            </div>

                            <script type="text/javascript" src="{{ url_for('static', filename='mdb5-free-standard/js/calendar.js' )}}"></script>
                            <script>
                                function setEventsOfSelectedDay(day_in_unix_time){
                                    var events_on_selected_day = getEventsOfGivenDay(day_in_unix_time);

                                    if (events_on_selected_day.length < 1) {
                                        var inner = `
                                                    <div style="font-size: 13px;margin-top: 20px; padding: 10px; text-align: center">
                                                        An diesem Tag finden keine Kurse statt.
                                                    </div>`;

                                        document.getElementById("selected_date_events_left").innerHTML = inner;
                                        document.getElementById("selected_date_events_bottom").innerHTML = inner;
                                        return;
                                    }

                                    var inner = "";
                                    for (var event of events_on_selected_day) {
                                        var date = new Date(event["date"]);
                                        day_name = getDayName(date.getDay());
                                        month_name = getMonthName(date.getMonth());
                                        inner += `
                                                <div class="card calendar-date-card" style="overflow: hidden; width: 140px; height: 180px; margin-top: 20px" onclick="setSelectedEvent(` + event['course_id'] + `)">
                                                    <div style="background-color: #d18c09; text-align: center; padding-right: 0px; color: white; font-weight: 600; font-family: Verdana, sans-serif;">` + month_name + `</div>
                                                    <div style="font-size: 36px; font-family: Verdana, sans-serif; font-weight: 550; text-align: center; padding-right: 2px; margin-top: 8px">` + date.getDate() + `</div>
                                                    <div style="font-size: 14px; font-weight: 550; text-align: center; padding-right: 0px; margin-bottom: 6px">` + day_name + `</div>
                                                    <div style="background-color: #ccc; height: 1px"></div>
                                                    <div style="font-size: 13px; font-weight: 550; text-align: center; padding-right: 0px; margin-top: 6px">` + event["title"] + `</div>
                                                    <div style="font-size: 13px; font-weight: 550; text-align: center; padding-right: 0px; margin-bottom: 10px">` + event["start_time"] + ` Uhr - ` + event["end_time"] + ` Uhr</div>
                                                </div>`;
                                    }

                                    document.getElementById("selected_date_events_left").innerHTML = inner;
                                    document.getElementById("selected_date_events_bottom").innerHTML = inner;
                                }
                            </script>
                        </div>
                    </div>
                </div>

                <div id="selected_course" class="card page-card-container" style="margin-top: 20px; border-radius: 0; display: none">
                    <h3 id="selected_course_title"></h3>
                    <div style="padding: 0 1% 0 1%">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-2 col-sm-3">
                                <h6>Datum</h6>
                            </div>
                            <div class="col-md-7 col-sm-9" id="selected_course_date"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-2 col-sm-3">
                                <h6>Beginn</h6>
                            </div>
                            <div class="col-md-7 col-sm-9" id="selected_course_start_time"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-2 col-sm-3">
                                <h6>Ende</h6>
                            </div>
                            <div class="col-md-7 col-sm-9" id="selected_course_end_time"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-2 col-sm-3">
                                <h6>Ort</h6>
                            </div>
                            <div class="col-md-7 col-sm-9" id="selected_course_location"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-2 col-sm-3">
                                <h6>Beschreibung</h6>
                            </div>
                            <div class="col-md-7 col-sm-9">
                                <span style="padding-right: 5rem" id="selected_course_description"></span>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-2 col-sm-3">
                                <h6>Anmeldung</h6>
                            </div>
                            <div class="col-md-7 col-sm-9">
                                <div>
                                    <a onclick="" class='btn btn-outline-primary btn-rounded'>Für diesen Kurs anmelden</a>
                                </div>
                            </div>
                        </div>
                        <script>
                            function setSelectedEvent(course_id) {
                                course = getCourseById(course_id);
                                document.getElementById("selected_course_title").innerHTML = course["title"];
                                document.getElementById("selected_course_date").innerHTML = course["date"];
                                document.getElementById("selected_course_start_time").innerHTML = course["start_time"] + " Uhr";
                                document.getElementById("selected_course_end_time").innerHTML = course["end_time"] + " Uhr";
                                document.getElementById("selected_course_location").innerHTML = course["location"];
                                document.getElementById("selected_course_description").innerHTML = course["description"];

                                selected_course.setAttribute("style", "margin-top: 20px; border-radius: 0");
                            }
                        </script>
                    </div>
                </div>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>
{% endblock %}