<div>
    <div>
        <h2>Alternative Lieferadresse</h2>
        <h4 style="margin-top: 25px">Persönliche Angaben</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-outline" style="margin-bottom: 15px">
                    {{ form.firstname }}
                    <label class="form-label" for="typeText">Vorname*</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-outline" style="margin-bottom: 15px">
                    {{ form.lastname }}
                    <label class="form-label" for="typeText">Nachname*</label>
                </div>
            </div>
        </div>
        <div class="form-outline">
            {{ form.email }}
            <label class="form-label" for="typeText">E-Mail-Adresse*</label>
        </div>
        <p style="margin-bottom: 15px; font-size: 13px">An diese Adresse senden wir die Bestell- / Versandbestätigung.</p>

        <div class="form-outline" style="margin-bottom: 15px">
            {{ form.phone }}
            <label class="form-label" for="typeText">Telefonnummer</label>
        </div>
        <h4 style="margin-top: 25px">Adressangaben</h4>
        <div class="row">
            <div class="col-sm-7">
                <div class="form-outline" style="margin-bottom: 15px">
                    {{ form.street }}
                    <label class="form-label" for="typeText">Straße*</label>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-outline" style="margin-bottom: 15px">
                    {{ form.house_number }}
                    <label class="form-label" for="typeText">Hausnummer*</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-outline" style="margin-bottom: 15px">
                    {{ form.postal_code }}
                    <label class="form-label" for="typeText">Postleitzahl*</label>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="form-outline" style="margin-bottom: 15px">
                    {{ form.city }}
                    <label class="form-label" for="typeText">Stadt*</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-outline" style="margin-bottom: 15px">
                    {{ form.country }}
                    <label class="form-label" for="typeText">Land</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-outline" style="margin-bottom: 15px">
                    {{ form.state }}
                    <label class="form-label" for="typeText">Bundesland</label>
                </div>
            </div>
            {{ form.use_alt_delivery_address }}
        </div>
    </div>

    <script>
        function useAlternativeAddress() {
            if (document.getElementById('useAlternativeAddress').checked) {
                document.getElementById('use_alt_delivery_address').value = "false";
                var inputs = document.querySelectorAll('[id^="alt_address_"]');
                for (var input of inputs) {
                    document.getElementById(input.id).setAttribute("disabled", "");
                    document.getElementById(input.id).removeAttribute("required");
                }
            } else {
                var inputs = document.querySelectorAll('[id^="alt_address_"]');
                document.getElementById('use_alt_delivery_address').value = "true";
                for (var input of inputs) {
                    document.getElementById(input.id).removeAttribute("disabled");
                    console.log(input.id);
                    if (input.id != "alt_address_phone" && input.id != "alt_address_country" && input.id != "alt_address_state") {
                        document.getElementById(input.id).setAttribute("required", "");
                    }
                }
            }
        }

        useAlternativeAddress();
    </script>
</div>