<div>
    <div class="card itemCard">
        <ul class="list-group list-group-flush" id="list_of_elements_in_chart">
            <li class="list-group-item itemCardPayment" id="payment_method_paypal" onclick="selectPaymentMethod('paypal')">
                <div class="row">
                    <div class="col-md-5 col-10" style="padding-top: 5px">
                        <img src="{{ url_for('static', filename='img/icon_paypal.png' )}}" height="45px" />
                    </div>
                    <div class="col-6 d-flex align-items-center d-md-block d-none">
                        <h4 style="padding-top: 17px; margin-left: 3%">PayPal</h4>
                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <i id="payment_checkmark_paypal" class="fas fa-check" style="padding-top: 7px; margin-right: 3%; display: none"></i>
                    </div>
                </div>
            </li>
            <li class="list-group-item itemCardPayment" id="payment_method_credit_card" onclick="selectPaymentMethod('credit_card')">
                <div class="row">
                    <div class="col-md-5 col-10" style="padding-top: 5px">
                        <img src="{{ url_for('static', filename='img/icon_credit_card.png' )}}" height="45px" />
                    </div>
                    <div class="col-6 d-flex align-items-center d-md-block d-none">
                        <h4 style="padding-top: 17px; margin-left: 3%">Kreditkarte</h4>
                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <i id="payment_checkmark_credit_card" class="fas fa-check" style="padding-top: 7px; margin-right: 3%; display: none"></i>
                    </div>
                </div>
            </li>
            <li class="list-group-item itemCardPayment" id="payment_method_giro" onclick="selectPaymentMethod('giro')">
                <div class="row">
                    <div class="col-md-5 col-10" style="padding-top: 5px">
                        <img src="{{ url_for('static', filename='img/icon_giropay.png' )}}" height="45px" />
                    </div>
                    <div class="col-6 d-flex align-items-center d-md-block d-none">
                        <h4 style="padding-top: 17px; margin-left: 3%">GiroPay</h4>
                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <i id="payment_checkmark_giro" class="fas fa-check" style="padding-top: 7px; margin-right: 3%; display: none"></i>
                    </div>
                </div>
            </li>
            <li class="list-group-item itemCardPayment" id="payment_method_bank_transfer" onclick="selectPaymentMethod('bank_transfer')">
                <div class="row">
                    <div class="col-md-5 col-10" style="padding-top: 5px">
                        <img src="{{ url_for('static', filename='img/icon_bank_transfer.png' )}}" height="45px" />
                    </div>
                    <div class="col-6 d-flex align-items-center d-md-block d-none">
                        <h4 style="padding-top: 17px; margin-left: 3%">Überweisung</h4>
                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <i id="payment_checkmark_bank_transfer" class="fas fa-check" style="padding-top: 7px; margin-right: 3%; display: none"></i>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <br/>
    {{ form.payment_method }}

    <div id="payment_alert" style="background-color: #ff9c9c; color: #6e0000; padding: 15px; margin-top: 20px; border-radius: 4px; display: none">
        Bitte wähle eine Zahlungsmethode aus.
    </div>

    <script>
        function selectPaymentMethod(new_payment_method) {
            var payment_methods = document.querySelectorAll('[id^="payment_method_"]');
            for (var payment_method of payment_methods) {
                document.getElementById(payment_method.id).setAttribute("class", "list-group-item itemCardPayment");
            }

            var payment_checkmarks = document.querySelectorAll('[id^="payment_checkmark_"]');
            for (var payment_checkmark of payment_checkmarks) {
                document.getElementById(payment_checkmark.id).setAttribute("style", "padding-top: 3px; margin-right: 3%; display: none");
            }


            document.getElementById('payment_method_' + new_payment_method).setAttribute("class", "list-group-item itemCardPaymentSelected");
            document.getElementById('payment_checkmark_' + new_payment_method).setAttribute("style", "padding-top: 3px; margin-right: 3%; display: block");

            document.getElementById('payment_method_field').value = new_payment_method;
        }
    </script>
</div>