.calendar-base {
  font-family: 'Kanit', sans-serif;
  /*font-family: Verdana, sans-serif;*/
}

ul {list-style-type: none;}

.year {
    text-align: right;
    padding: 25px 35px 20px 0;
    font-weight: 800;
    font-size: 24px;
}


/* Weekdays (Mon-Sun) */
.months {
  padding: 10px 0;
  margin: 0;
}

.months li {
  display: inline-block;
  width: 7.5%;
  color: #666;
  text-align: center;
}

.month {
  color: #AAAAAA;
  font-size: 18px;
  left: 355px;
  top: 80px;
  word-spacing: 35px;
  font-weight: 600;
}

.month-active {
  color: #fff !important;
  font-size: 18px;
  left: 355px;
  top: 80px;
  word-spacing: 35px;
  font-weight: 600;
  border-radius: 100px;
  background-color: #d18c09
}

.month:hover {
  color: #AAAAAA;
  font-size: 18px;
  left: 355px;
  top: 80px;
  word-spacing: 35px;
  font-weight: 600;
  color: #d18c09;
  cursor: pointer;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  padding: 10px 0;
  margin: 0;
}

.weekdays li {
  display: inline-block;
  width: 13.3%;
  color: #666;
  text-align: center;
}

.week-day {
  color: #AAAAAA;
  font-size: 18px;
  left: 355px;
  top: 80px;
  word-spacing: 35px;
  font-weight: 600;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  margin: 0;
}


.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.3%;
  text-align: center;
  margin-right: 3px;
  font-size: 16px;
  color: #777;
}

/* The Span for inactive elements */
.days li span {
  padding-top: 10px;
  border-radius: 100px;
  border: 1px solid #00d18c09; /* transparent border */
  display: inline-block;
  height: 46px;
  width: 46px;
}

/* Highlight the hovered day */
.days li span:hover {
  padding-top: 10px;
  border-radius: 100px;
  border: 1px solid #d18c09;
  cursor: pointer;
  display: inline-block;
  height: 46px;
  width: 46px;
}

/* Highlight the "current" day */
.days li .active {
  padding-top: 10px;
  border-radius: 100px;
  background: #d18c09;
  color: white !important;
  display: inline-block;
  height: 46px;
  width: 46px;
}


/* Buttons to change the year */
.previous-year-button {
  padding: 5px 17px 10px 15px;
  border-radius: 100px;
  background: #d18c09;
  color: white !important;
  width: 45px;
  height: 45px;
}

.next-year-button {
  padding: 5px 15px 10px 17px;
  border-radius: 100px;
  background: #d18c09;
  color: white !important;
  width: 45px;
  height: 45px;
}

.previous-year-button:hover {
  cursor: pointer;
}

.next-year-button:hover {
  cursor: pointer;
}

.calendar-event {
  background: #d18c09;
  height: 5px;
  width: 5px;
  border-radius: 10px;
  position: absolute;
  margin-left: 32px
}

.calendar-date-card {
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #fff;
}

.calendar-date-card:hover {
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #d18c09;
}


.outer {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.outer div {
    display: inline-block;
}

.outer div div {
    display: block;
}