.main-page-padding {
    margin-left: 0;
    margin-right: 0
}

.page-background {
    background-color: #f7f7f7
}

.fa-times:hover {
	color: #ff0000;
	cursor: pointer;
}

.fa-search:hover {
	color: #d18c09;
	cursor: pointer;
}

/* change search input box clear button style (https://mdbootstrap.com/snippets/standard/m-duszak/3085591#css-tab-view) */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: .3;
  pointer-events: all;
  display: none
}


.form-control:focus {
  border-color: #6265e4 !important;
  box-shadow: 0 0 5px rgba(98, 101, 228, 1) !important;
}

.register-container {
    padding: 20px 5% 20px 5%
}

@media screen and (min-width: 992px) {
    .main-page-padding {
        margin-left: 10%;
        margin-right: 10%
    }

    .register-container {
        padding: 20px 20% 20px 20%
    }
}

@media screen and (min-width: 1600px) {
    .main-page-padding {
        margin-left: 15%;
        margin-right: 15%
    }

    .register-container {
        padding: 20px 25% 20px 25%
    }
}


/*
See different approaches to change the input border focus color:
https://mdbootstrap.com/snippets/standard/grzegorz-bujanski/2852722#css-tab-view
https://mdbootstrap.com/snippets/standard/m-duszak/3631331#html-tab-view

Used this one in the end: https://mdbootstrap.com/support/standard/change-focus-color-to-inputs-and-textareas-in-mdb5/
*/
.form-control:focus ~ .form-notch div:first-child {
    border-color: #d18c09 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(255, 0, 0, 0) !important; clip-path: inset(-8px 0px -8px -8px);
}
.form-control:focus ~ .form-notch div:nth-child(2) {
    border-bottom-color: #d18c09 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(255, 0, 0, 0) !important; clip-path: inset(0px 0px -8px 0px);
}
.form-control:focus ~ .form-notch div:last-child {
    border-color: #d18c09 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(255, 0, 0, 0) !important; clip-path: inset(-8px -8px -8px 0px);
}

.form-control:focus ~ .form-label {
    color: #d18c09 !important;
}

.itemCardPayment:hover {
	cursor: pointer;
	background-color: #f0f0f0
}

.itemCardPaymentSelected {
	background-color: #f0f0f0
}

.custom-outlined-button {
    display: block;
    border-color: #d18c09;
    color: #d18c09
}

.btn-check:focus+.btn-outline-primary, .btn-check:focus-visible+.btn-outline-primary, .btn-outline-primary:first-child:hover, .btn-outline-primary:focus, .btn-outline-primary:focus-visible, .btn-outline-primary:hover, :not(.btn-check)+.btn-outline-primary:hover {
    border-color: #af7609;
}

.custom-outlined-button:hover {
    display: block;
    color: #af7609
}

.custom-filled-button {
    border-color:#d18c09;
    background-color: #d18c09;
    color: white
}