<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <!-- MDB -->
    <link rel="stylesheet" href="{{ url_for('static', filename='mdb5-free-standard/css/mdb.min.css' )}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mdb5-free-standard/css/checkbox.css' )}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mdb5-free-standard/css/multirange.css' )}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mdb5-free-standard/css/stepper.css' )}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mdb5-free-standard/css/styles.css' )}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mdb5-free-standard/css/styles-orders.css' )}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='simple-notify/simple-notify.min.css' )}}">

    <!-- Fav icon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/bee.png' )}}">
  </head>
  <body>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Start your project here-->
    <div class="main-page-padding page-background" style="height: 100%">
      {% include 'nav.html' %}
      {% block body %}{% endblock %}
      {% include 'footer.html' %}
    </div>


    <!-- MDB -->
    <script type="text/javascript" src="{{ url_for('static', filename='mdb5-free-standard/js/mdb.min.js' )}}"></script>
    <!-- Custom scripts -->

    <script type="text/javascript" src="{{ url_for('static', filename='mdb5-free-standard/js/shop.js' )}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='mdb5-free-standard/js/cart.js' )}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='simple-notify/simple-notify.min.js' )}}"></script>

  </body>
</html>
