<div style="height: 0px">

</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light" style="background-color: #e8cc2a">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img
          src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
          height="15"
          alt="MDB Logo"
          loading="lazy"/>
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kurse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Api-Therapie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Über uns</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <a class="text-reset me-3" href="/cart">
        <i class="fas fa-shopping-cart"></i>
        <span id="product_counter" class="badge rounded-pill badge-notification bg-danger" style="display: none">11</span>
      </a>

      <!-- Notifications -->
      <div class="dropdown">
        <a
          class="text-reset me-3 dropdown-toggle hidden-arrow"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false">
          <i class="fas fa-user-circle"></i>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink">

          {% if session['logged_in'] == True %}
          <li>
            <a class="dropdown-item" href="/profile">Profil</a>
          </li>
          <li>
            <a class="dropdown-item" href="/orders">Bestellungen</a>
          </li>
          <li>
            <a class="dropdown-item" href="/settings">Einstellungen</a>
          </li>
          <li>
            <a class="dropdown-item" href="/logout">Logout</a>
          </li>
          {% else %}
          <li>
            <a class="dropdown-item" href="/register">Registrieren</a>
          </li>
          <li>
            <a class="dropdown-item" href="/login">Anmelden</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<div class="p-5 text-center bg-image" style="background-image: url('./static/img/main_title_image.webp'); height: 150px">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.15);">
        <div class="d-flex justify-content-center align-items-center h-100">
        </div>
    </div>
</div>