{% extends "layout.html" %}
{% block body %}
<div style="margin: 0px">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <!-- Top div with sort by and search -->
                <div class="card" style="margin-bottom: 20px; margin-top: 20px; border-radius: 0">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <select class="form-select" id="selectOrderBy" onchange="onOrderChange()" style="width: 30%; height: 35px">
                                <option value="newest" selected>Sortierung nach neuste</option>
                                <option value="oldest">Sortierung nach älteste</option>
                                <option value="price_asc">Sortierung nach Preis</option>
                                <option value="price_desc">Sortierung nach Preis absteigend</option>
                            </select>
                            <script type="text/javascript" src="{{ url_for('static', filename='mdb5-free-standard/js/shop.js' )}}"></script>
                            <script>
                                {% if orderBy %}
                                    document.getElementById("selectOrderBy").value="{{ orderBy }}";
                                {% endif %}

                                function onOrderChange(){
                                    addUrlParameters('orderBy', document.getElementById("selectOrderBy").value);
                                }
                            </script>

                            <form class="d-flex input-group w-auto">
                                <input
                                    id="textbox_search"
                                    type="search"
                                    class="form-control rounded"
                                    placeholder="Search"
                                    aria-label="Search"
                                    aria-describedby="search-addon"
                                    />
                                <span class="input-group-text border-0" id="search-addon">
                                <i class="fas fa-search"
                                   onclick="onSearch()">
                                </i>
                                <script>
                                    {% if search %}
                                        let old_search_string = "{{ search }}";
                                        old_search_string = old_search_string.replace(/\+/g, ' ');
                                        document.getElementById('textbox_search').value = old_search_string;
                                    {% endif %}

                                    function onSearch(){
                                        let search_string = document.getElementById('textbox_search').value;
                                        search_string = search_string.replace(/ +(?= )/g,'');
                                        search_string = search_string.replace(/ /g, '+');
                                        if (!search_string || search_string == "+") {
                                            removeUrlParameter('search');
                                        } else {
                                            addUrlParameters('search', search_string);
                                        }
                                    }

                                    // Trigger search on enter
                                    var search_input = document.getElementById("textbox_search");

                                    search_input.addEventListener("keypress", function(event) {
                                      if (event.key === "Enter") {
                                        // Cancel the default action, if needed
                                        event.preventDefault();
                                        // Trigger the button element with a click
                                        onSearch();
                                      }
                                    });
                                </script>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for p in products %}
                    <div class="col-xl-4 col-md-6">
                        <div class="card" style="margin-bottom: 20px; min-height: 430px">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <div class='p-5 text-center bg-image' style="background-image: url('./static/img/{{ p["product_id"] }}.webp'); height: 200px"/>
                                <div style='position:absolute; top: 0; right: 0; margin: 20px'>
                                    <span id="price_badge_{{ p['product_id'] }}" class='badge' style='background-color: #d18c09; float: right; font-size:larger'></span>
                                </div>
                                <script>
                                    let price_float_{{ p['product_id'] }} = {{ p["price"] }};
                                    let price_str_{{ p['product_id'] }} = (Math.round(price_float_{{ p['product_id'] }} * 100) / 100).toFixed(2).replace(".", ",");
                                    price_str_{{ p['product_id'] }} = price_str_{{ p['product_id'] }} + " €";
                                    document.getElementById("price_badge_{{ p['product_id'] }}").innerHTML = price_str_{{ p['product_id'] }};
                                </script>
                            </div>
                            <a href="/product?id={{ p['product_id'] }}">
                            <a href="/product?id={{ p['product_id'] }}">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ p["name"] }}</h5>
                            <p class="card-text">
                                {% if p["description"]|length > 90 %}
                                {{ p["description"][:90] }}... <a href="/product?id={{ p['product_id'] }}">weiter lesen</a>"
                                {% else %}
                                {{ p["description"] }}
                                {% endif %}
                            </p>
                            <a class='btn btn-outline-primary btn-rounded custom-outlined-button'
                               onclick="addProductToCart({{ p['product_id'] }}, 1)">
                                In den Warenkorb
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-3">
            <div style="height: 100%; padding-bottom: 20px; padding-top: 20px">
                <!-- Right div with product categories and more -->
                <div class="card" style="height: 100%; border-radius: 0">
                    <div class="card-body">
                        <h6 style="padding: 10px">{{ products|length }} Produkte gefunden</h6>
                        <hr/>
                        <h4 style="padding: 10px">Kategorien</h4>
                        <div style="padding-left: 10px; padding-right: 10px">
                            {% for cat in categories %}
                                <label class="checkbox-container">
                                    {{ cat["description"] }}
                                    <input id="category-checkbox-{{ cat['product_category_id'] }}"
                                           name="{{ cat['product_category_id'] }}"
                                           type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            {% endfor %}
                        </div>

                        <br/>
                        <br/>

                        <!-- Multislider for price -->
                        <!-- Variables -->
                        {% include 'multislider.html' %}

                        <div style="padding-left: 5px; padding-right: 5px">
                            <a class='btn btn-outline-primary btn-rounded custom-outlined-button'
                               onclick="applyFilters()"
                               style='margin-top: 50px'>
                                Filter anwenden
                            </a>
                        </div>
                        <script>
                            {% if selected_categories %}
                                // select the old selected categories on page reload
                                let old_selected_categories_string = "{{ selected_categories }}";
                                old_selected_categories_list = old_selected_categories_string.split("+");
                                console.log(old_selected_categories_list);
                                for (var old_cat_id of old_selected_categories_list) {
                                    let check_box_id = "category-checkbox-" + old_cat_id;
                                    document.getElementById(check_box_id).checked = true;
                                }
                            {% else %}
                                // select all categories if the url parameter is not given
                                var category_checkboxes = document.querySelectorAll('[id^="category-checkbox-"]');
                                for (var cat of category_checkboxes) {
                                    cat.checked = true;
                                }
                            {% endif %}

                            function applyFilters(){
                                // get categories
                                var category_checkboxes = document.querySelectorAll('[id^="category-checkbox-"]');
                                var list_of_selected_categories = [];
                                let all_categories_selected = true;
                                for (var cat of category_checkboxes) {
                                    if (cat.checked) {
                                        list_of_selected_categories.push(cat.name);
                                    } else {
                                        all_categories_selected = false;
                                    }
                                }
                                let selected_categories = list_of_selected_categories.join("+");

                                // get price range
                                let min_price = document.getElementById("multislider_min_value").value;
                                let max_price = document.getElementById("multislider_max_value").value;
                                let prices = "" + min_price + "+" + max_price;

                                // add the parameters
                                var params_to_add = {};
                                var params_to_remove = [];

                                if (!all_categories_selected){
                                    params_to_add["categories"] = selected_categories;
                                } else {
                                    params_to_remove.push("categories");
                                }

                                if (min_price != 0 || max_price != {{ silder_price_data['highest_price'] }}){
                                    params_to_add["price"] = prices;
                                } else {
                                    params_to_remove.push("price");
                                }

                                addAndRemoveMultipleUrlParameters(params_to_add, params_to_remove);
                            }
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='simple-notify/simple-notify.min.js' )}}"></script>

    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for error in messages %}
                    <script type="text/javascript">
                        new Notify({
                            title: "",
                            text: "{{ error }}",
                            effect: "slide",
                            speed: 300,
                            status: "success",
                            autoclose: true,
                            autotimeout: 10000,
                            position: "right bottom",
                            gap: 20,
                            distance: 70
                        })
                    </script>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</div>
{% endblock %}